{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;">Вход</h1>

<form method="post" class="form-card">
    {% csrf_token %}

    {% for field in form %}
        <div class="field">
            {{ field.label_tag }}
            {{ field }}

           
            {% for error in field.errors %}
                <p class="error" >
                    {{ error }}
                </p>
            {% endfor %}
        </div>
    {% endfor %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="error" >
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <button type="submit">Войти</button>
</form>

<p style="text-align:center;">Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
{% endblock %}
